/* GLOBAL SETTINGS */

@font-face {
    font-family: Norse;
    src: url(font/Norse-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark: #000;
    --light: #fff;
    --grey-border: #E5E7EB;
    --grey-input-bg: #fffefe;
    --green-link: #596D48;
    --dark-green-link: #516341;
    --red-error: #B91C1C;
    --blue-focus: #1D4ED8;
    --light-bg: #F9FAFB;
    --label-color: #1F2937;
    --grey-placeholder: #D8D8D8;

}

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--light-bg);
}

#right,
#left {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
}




/* LEFT SIDE */
#left {
    width: 33.33vw;
    background-image: url(img/plant.jpg);
    background-size: cover;
    min-height: 100%;
    color: var(--light);
    justify-content: space-between;
}

#left a {
    color: inherit;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);

    height: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 224px;
}

.logo-container img {
    height: 100%;
}

.logo-container span.logo-text {
    margin: 0;
    font-family: Norse, sans-serif;
    font-size: 96px;
    line-height: 96px;
    margin-top: 22px;
}

.credit {
    font-size: 13px;
    text-align: center;
    opacity: 0.9;
}




/* RIGHT SIDE */

#right {
    width: 66.66vw;
    justify-content: center;
}

.intro,
.subtext,
form>div {
    padding-left: 46px;
    padding-right: 46px;

}

.intro {
    margin-bottom: 40px;
    max-width: 84ch;
}

.form-full {
    background-color: var(--light);
    margin-bottom: 35px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
    padding-top: 20px;

}

.form-full h2 {
    margin-bottom: 30px;
    color: var(--label-color);
}

label {
    color: var(--label-color);
    font-size: 12px;
    letter-spacing: 0.1em;
    margin-bottom: 2px;

}

.input-line {
    flex-direction: row;
    width: auto;
    margin-bottom: 20px;
}

.input-line .input {
    width: 264px;
    margin-right: 72px;

}

.input-line .input input {
    width: 100%;
    padding: 6px 8px;
    border: solid 1px var(--grey-border);
    border-radius: 4px;
    background-color: var(--grey-input-bg);
    appearance: none;
}

.input-line .input input:user-invalid {
    border-color: var(--red-error);
}

.input-line .input input::placeholder {
    color: var(--grey-placeholder);
}


form button {
    border: none;
    background-color: var(--green-link);
    border-radius: 7px;
    color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
    padding: 15px 55px;
    width: 235px;
}

form button:enabled:hover {
    cursor: pointer;
    background-color: var(--dark-green-link);
}

form button:disabled {
    filter: grayscale(1);
}

#right a {
    color: var(--green-link);
    font-weight: bold;
}

.input-line .input input.error {
    border-color: var(--red-error);

}

.input-line .input input::after {
    content: "Password doesn't match confirmation";

    font-size: large;
    display: block;
    position: absolute;
    font-family: inherit;

}

#prompt {
    display: none;
    font-size: 11px
}

#prompt.visible {
    display: inline;
}

#prompt.error-message {
    color: var(--red-error);
}